<a href="https://colab.research.google.com/github/MChaudhry9/nyc_open_data_starter/blob/main/Mamuna_Chaudhry_Day_1_Data_Preprocessing_workshop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!gdown 1Drr78k2XoMVT0UOBoTadCVL7E-5kfRMI -O superstore_missing.csv

Downloading...
From: https://drive.google.com/uc?id=1Drr78k2XoMVT0UOBoTadCVL7E-5kfRMI
To: /content/superstore_missing.csv
100% 2.29M/2.29M [00:00<00:00, 204MB/s]

In [47]:
print("Hello world")

Hello world

In [ ]:
# Variable created here
a = 'Hello cheese'

In [ ]:
# Variable used here
print(a)

Hello cheese

In [ ]:
# Check datatype of variable 'a'
type(a)

str

In [ ]:
b=9

In [ ]:
type(b)

int

# Import required packages

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# About dataset
## Context
With growing demands and cut-throat competitions in the market, a Superstore Giant is seeking your knowledge in understanding what works best for them. They would like to understand which products, regions, categories and customer segments they should target or avoid.

You can even take this a step further and try and build a Regression model to predict Sales or Profit.

Go crazy with the dataset, but also make sure to provide some business insights to improve.

## Metadata
| Column Name   | Description                                   |
| ------------- | --------------------------------------------- |
| Row ID        | Unique ID for each row                        |
| Order ID      | Unique Order ID for each Customer             |
| Order Date    | Order Date of the product                     |
| Ship Date     | Shipping Date of the Product                  |
| Ship Mode     | Shipping Mode specified by the Customer       |
| Customer ID   | Unique ID to identify each Customer           |
| Customer Name | Name of the Customer                          |
| Segment       | The segment where the Customer belongs        |
| Country       | Country of residence of the Customer          |
| City          | City of residence of of the Customer          |
| State         | State of residence of the Customer            |
| Postal Code   | Postal Code of every Customer                 |
| Region        | Region where the Customer belong              |
| Product ID    | Unique ID of the Product                      |
| Category      | Category of the product ordered               |
| Sub-Category  | Sub-Category of the product ordered           |
| Product Name  | Name of the Product                           |
| Sales         | Sales of the Product                          |
| Quantity      | Quantity of the Product                       |
| Discount      | Discount provided                             |
| Profit        | Profit/Loss incurred                          |


## Acknowledgements
I do not own this data. I merely found it from the Tableau website. All credits to the original authors/creators. For educational purposes only.

# Chapter 1: Pandas DataFrame

## 1.1 Load data

Other example
```python
data = pd.read_html('https://en.wikipedia.org/wiki/Epyc')
data[1]
```

In [ ]:
df = pd.read_csv("superstore_missing.csv")

## 1.2 Insepct data

In [ ]:
df['Sales'].min(),

(0.444,)

# Chapter 2: Data Cleaning in Pandas

## 2.1 Handle duplicate values

In [ ]:
df.duplicated().sum()

3

In [ ]:
df.duplicated?

In [ ]:
df[df.duplicated(keep='first')]

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
3406,US-2014-150119,4/23/2014,4/27/2014,Standard Class,LB-16795,Laurel Beltran,Home Office,United States,Columbus,Ohio,43229.0,East,FUR-CH-10002965,Furniture,Chairs,Global Leather Highback Executive Chair with P...,281.372,2.0,0.3,-12.0588
9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,California,92627.0,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.960,2.0,0.0,15.6332
9995,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,California,92683.0,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.160,2.0,0.0,72.9480

In [ ]:
df=df.drop_duplicates()

In [ ]:
df.duplicated().sum()

0

## 2.2 Handle missing values

In [ ]:
df.test=df.copy()

<ipython-input-10-58c401192dac>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.test=df.copy()

### 2.2.1 Imputing missing data

In [ ]:
df.test=df.copy()

In [ ]:
df["Segment"].value_counts()

Consumer       5188
Corporate      3016
Home Office    1781
Name: Segment, dtype: int64

In [ ]:
df["Segment"].unique()

array(['Consumer', 'Corporate', 'Home Office', nan], dtype=object)

In [ ]:
df["Segment"].value_counts()

Consumer       5188
Corporate      3016
Home Office    1781
Name: Segment, dtype: int64

In [ ]:
df["Segment"].isna().sum()

8

In [ ]:
df["Segment"].mode().item()

'Consumer'

In [ ]:
df["Segment"]=df["Segment"].fillna(df["Segment"].mode().item() )

### 2.2.2 Remove missing data

In [ ]:
df.isna().sum()

Order ID         10
Order Date       11
Ship Date         9
Ship Mode        15
Customer ID      10
Customer Name    10
Segment           0
Country           5
City             10
State            13
Postal Code       6
Region           14
Product ID        7
Category         13
Sub-Category      6
Product Name     11
Sales             9
Quantity          5
Discount          9
Profit            9
dtype: int64

# Chapter 3: Data Manipulation

## 3.1 Indexing, slicing, filtering and Sorting

**`iloc`**

* `iloc` is integer-based indexing. You use it to select data based on its numerical position in the data.
* It accepts only integer values, representing the row/column indices.
* It excludes the last element

In [ ]:
#[rows,cols]
#3[0: 5,0]->   0,1,2,3,4 (excludes row 5 )
#[:5, :]

df.iloc[0:5, 0:5]  # Rows 0 up until 5 (excluding 5) and columns 0 up until 5 (excludes 5)

         Order ID  Order Date   Ship Date       Ship Mode Customer ID
0  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
1  CA-2016-152156   11/8/2016  11/11/2016    Second Class    CG-12520
2  CA-2016-138688   6/12/2016   6/16/2016    Second Class    DV-13045
3  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335
4  US-2015-108966  10/11/2015  10/18/2015  Standard Class    SO-20335

**`loc`**

* `loc` is label-based indexing. You use it to select data based on the data's label.
* It accepts labels of rows or columns to be selected.
* It includes the last element

### Boolean Masking - Filtering

* Boolean masking is used to select data based on conditions.
* A Boolean mask is an array which can be of one dimension like a series, or two dimensions like a dataframe, where each of the elements of the array are either true or false. This array is essentially overlaid on the data structure that we are querying.

In [ ]:
mask=( (df['Profit']>6000) & (df['Segment'] !="Consumer") )
df.loc[mask, ["Segment", "Product ID","Order ID","Profit"]]
#df[mask].shape
#mask

        Segment       Product ID        Order ID    Profit
6826  Corporate  TEC-CO-10004722  CA-2016-118689  8399.976

In [ ]:
# Create mask where 'Profit' > 500 and 'Segment' is 'Consumer'
mask = ((df['Profit'] > 500) & (df['Segment'] == "Consumer"))
mask    # Pandas Series of boolean values

0       False
1       False
2       False
3       False
4       False
        ...
9989    False
9990    False
9992    False
9993    False
9994    False
Length: 9993, dtype: bool

In [ ]:
# Apply mask to DataFrame (does not modify the DataFrame itself)
df.loc[mask, ["Segment", "Order ID"]]

       Segment        Order ID
251   Consumer  CA-2016-145625
392   Consumer  US-2014-135972
509   Consumer  CA-2015-145352
814   Consumer  CA-2017-143686
1001  Consumer  CA-2015-124891
1022  Consumer  CA-2015-124450
1085  Consumer  US-2016-143819
1250  Consumer  CA-2017-115602
1625  Consumer  CA-2015-157084
1711  Consumer  CA-2017-123491
1791  Consumer  CA-2014-120474
1896  Consumer  CA-2017-141789
2182  Consumer  CA-2016-128818
2298  Consumer  CA-2015-113145
2492  Consumer  CA-2014-144624
3150  Consumer  CA-2015-147830
3384  Consumer  CA-2015-130659
3628  Consumer  CA-2014-169726
3983  Consumer  CA-2016-135265
4093  Consumer  CA-2015-102491
4098  Consumer  CA-2014-116904
4190  Consumer  CA-2017-166709
4428  Consumer  CA-2017-119452
4639  Consumer  CA-2016-102162
5126  Consumer  CA-2014-160766
5425  Consumer  CA-2016-153598
5530  Consumer  CA-2017-160885
5710  Consumer  US-2015-160857
5756  Consumer  CA-2014-163748
5990  Consumer  US-2017-163300
6099  Consumer  CA-2017-100111
6425  Consumer  CA-2016-143714
6520  Consumer  CA-2017-138289
6534  Consumer  CA-2014-128209
6626  Consumer  CA-2014-145541
6631  Consumer  CA-2016-105081
6817  Consumer  CA-2014-144414
6884  Consumer  CA-2015-120677
7280  Consumer  CA-2015-162782
7520  Consumer  US-2017-167920
7579  Consumer  CA-2015-123113
7846  Consumer  CA-2015-125976
8153  Consumer  CA-2017-140151
8312  Consumer  US-2017-105935
8488  Consumer  CA-2016-158841
8749  Consumer  US-2015-163825
9033  Consumer  CA-2014-152268
9039  Consumer  CA-2016-117121
9165  Consumer  CA-2016-100300
9270  Consumer  US-2017-102183
9273  Consumer  CA-2017-146983
9398  Consumer  CA-2014-125997
9490  Consumer  CA-2017-111738
9513  Consumer  CA-2016-125220
9929  Consumer  CA-2016-129630

### Sorting

In [ ]:
df.sort_values(["Sales","Discount"],ascending=False)
# Sort values by 'Sales' and 'Discount', setting ascending to False means we are choosing greatest values first

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Quantity,Discount,Profit,Profit Per Item,Original Price,order status_1,order status_2,Year,Month,Day
2697,CA-2014-145317,2014-03-18,3/23/2014,Standard Class,SM-20320,Sean Miller,Home Office,United States,Jacksonville,Florida,...,6.0,0.5,-1811.0784,-301.8464,45276.96,Not Profitable,Not Profitable,2014.0,3.0,18.0
6826,CA-2016-118689,2016-10-02,10/9/2016,Standard Class,TC-20980,Tamara Chand,Corporate,United States,Lafayette,Indiana,...,5.0,0.0,8399.9760,1679.9952,17499.95,Profitable,Profitable,2016.0,10.0,2.0
8153,CA-2017-140151,2017-03-23,3/25/2017,First Class,RB-19360,Raymond Buch,Consumer,United States,Seattle,Washington,...,4.0,0.0,6719.9808,1679.9952,13999.96,Profitable,Profitable,2017.0,3.0,23.0
2623,CA-2017-127180,2017-10-22,10/24/2017,First Class,TA-21385,Tom Ashbrook,Home Office,United States,New York City,New York,...,4.0,0.2,3919.9888,979.9972,13999.96,Profitable,Profitable,2017.0,10.0,22.0
4190,CA-2017-166709,2017-11-17,11/22/2017,Standard Class,HL-15040,Hunter Lopez,Consumer,United States,Newark,Delaware,...,3.0,0.0,5039.9856,1679.9952,10499.97,Profitable,Profitable,2017.0,11.0,17.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4582,CA-2016-121993,2016-06-10,6/12/2016,First Class,JB-16000,Joy Bell-,Consumer,United States,Philadelphia,Pennsylvania,...,8.0,0.2,7.9704,0.9963,NaN,Profitable,Profitable,2016.0,6.0,10.0
7503,US-2017-120147,2017-03-30,3/30/2017,Same Day,TB-21400,Tom Boeckenhauer,Consumer,United States,Los Angeles,California,...,1.0,0.2,18.5391,18.5391,NaN,Profitable,Profitable,2017.0,3.0,30.0
322,CA-2014-156601,2014-09-19,9/24/2014,Standard Class,FA-14230,Frank Atkinson,Corporate,United States,Long Beach,California,...,2.0,0.0,3.5800,1.7900,NaN,Profitable,Profitable,2014.0,9.0,19.0
2155,CA-2016-111115,2016-07-25,7/27/2016,Second Class,LB-16735,Larry Blacks,Consumer,United States,Los Angeles,California,...,6.0,0.0,10.7400,1.7900,NaN,Profitable,Profitable,2016.0,7.0,25.0
5845,CA-2015-126725,2015-11-17,11/21/2015,Standard Class,BS-11665,Brian Stugart,Consumer,United States,San Diego,California,...,5.0,0.0,15.5520,3.1104,NaN,Profitable,Profitable,2015.0,11.0,17.0

## 3.2 Grouping and aggregating

In [ ]:
#type(df["Sales"])
type(df)

pandas.core.frame.DataFrame

In [ ]:
df_group_1=df.groupby(["State"],as_index=False,)["Customer ID"].count()
df_group_1=df_group_1.sort_values("Customer ID",ascending=False)
df_group_1.iloc[:10] #limits rows to 10

             State  Customer ID
3       California         1998
30        New York         1127
41           Texas          983
36    Pennsylvania          584
45      Washington          503
11        Illinois          490
33            Ohio          467
8          Florida          383
20        Michigan          254
31  North Carolina          249

In [ ]:
# Sort the values by 'Customer ID' which is the customer ID count
df_group_1 = df_group_1.sort_values("Customer ID", ascending=False).reset_index(drop=True)
df_group_1.head()

          State  Customer ID
0    California         1998
1      New York         1127
2         Texas          983
3  Pennsylvania          584
4    Washington          503

## 3.3 Advanced operations

In [ ]:
df['Profit Per Item'] = df['Profit'] /df['Quantity'] #adding a new colum
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Per Item
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,20.9568
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,73.1940
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,3.4357
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,-76.6062
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,1.2582

In [48]:
df['Original Price'] = df['Sales'] /(1-df['Discount']) #adding a new colum called original price that shows the original price before discounted price
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Quantity,Discount,Profit,Profit Per Item,Original Price,order status_#,order status_2,Year,Month,Day
0,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,2.0,0.00,41.9136,20.9568,261.96,Profitable,Profitable,2016.0,11.0,8.0
1,CA-2016-152156,2016-11-08,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,3.0,0.00,219.5820,73.1940,731.94,Profitable,Profitable,2016.0,11.0,8.0
2,CA-2016-138688,2016-06-12,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,2.0,0.00,6.8714,3.4357,14.62,Profitable,Profitable,2016.0,6.0,12.0
3,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,5.0,0.45,-383.0310,-76.6062,1741.05,Not Profitable,Not Profitable,2015.0,10.0,11.0
4,US-2015-108966,2015-10-11,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,2.0,0.20,2.5164,1.2582,27.96,Profitable,Profitable,2015.0,10.0,11.0

In [ ]:
def test(x):
  return "Profitable" if x>0 else "Not Profitable"

df['order status_1']= df['Profit'].apply(test)

#another way to do it
df['order status_2']= df['Profit'].apply(lambda x:"Profitable" if x>0 else "Not Profitable")
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Profit Per Item,Original Price,order status_1,order status_2
0,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Bookcases,Bush Somerset Collection Bookcase,261.9600,2.0,0.00,41.9136,20.9568,261.96,Profitable,Profitable
1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3.0,0.00,219.5820,73.1940,731.94,Profitable,Profitable
2,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2.0,0.00,6.8714,3.4357,14.62,Profitable,Profitable
3,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5.0,0.45,-383.0310,-76.6062,1741.05,Not Profitable,Not Profitable
4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,Storage,Eldon Fold 'N Roll Cart System,22.3680,2.0,0.20,2.5164,1.2582,27.96,Profitable,Profitable

## 3.4 Handling date and time data

In [ ]:
#

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9993 entries, 0 to 9994
Data columns (total 24 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order ID         9983 non-null   object
 1   Order Date       9982 non-null   object
 2   Ship Date        9984 non-null   object
 3   Ship Mode        9978 non-null   object
 4   Customer ID      9983 non-null   object
 5   Customer Name    9983 non-null   object
 6   Segment          9993 non-null   object
 7   Country          9988 non-null   object
 8   City             9983 non-null   object
 9   State            9980 non-null   object
 10  Postal Code      9987 non-null   float64
 11  Region           9979 non-null   object
 12  Product ID       9986 non-null   object
 13  Category         9980 non-null   object
 14  Sub-Category     9987 non-null   object
 15  Product Name     9982 non-null   object
 16  Sales            9984 non-null   float64
 17  Quantity         9988 non-null   float64
 18  Discount         9984 non-null   float64
 19  Profit           9984 non-null   float64
 20  Profit Per Item  9979 non-null   float64
 21  Original Price   9975 non-null   float64
 22  order status_1   9993 non-null   object
 23  order status_2   9993 non-null   object
dtypes: float64(7), object(17)
memory usage: 1.9+ MB

In [50]:
# Convert 'Order Date' and 'Ship Date' columns datatype to datetime datatype
df["Order Date"] = pd.to_datetime(df["Order Date"])
df["Ship Date"] = pd.to_datetime(df["Ship Date"])

# Check datatypes of the columns
df.dtypes

Order ID                   object
Order Date         datetime64[ns]
Ship Date          datetime64[ns]
Ship Mode                  object
Customer ID                object
Customer Name              object
Segment                    object
Country                    object
City                       object
State                      object
Postal Code               float64
Region                     object
Product ID                 object
Category                   object
Sub-Category               object
Product Name               object
Sales                     float64
Quantity                  float64
Discount                  float64
Profit                    float64
Profit Per Item           float64
Original Price            float64
order status_#             object
order status_2             object
Year                      float64
Month                     float64
Day                       float64
dtype: object

In [55]:
# (Create year, month, and day of the week columns) : by extracting values from the 'Order Date' datatime column
df['Year']=df['Order Date'].dt.year
df['Month']=df['Order Date'].dt.month
df['Day']=df['Order Date'].dt.day
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Discount,Profit,Profit Per Item,Original Price,order status_#,order status_2,Year,Month,Day,shipped days
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,0.00,41.9136,20.9568,261.96,Profitable,Profitable,2016.0,11.0,8.0,3.0
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,0.00,219.5820,73.1940,731.94,Profitable,Profitable,2016.0,11.0,8.0,3.0
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,0.00,6.8714,3.4357,14.62,Profitable,Profitable,2016.0,6.0,12.0,4.0
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,0.45,-383.0310,-76.6062,1741.05,Not Profitable,Not Profitable,2015.0,10.0,11.0,7.0
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,0.20,2.5164,1.2582,27.96,Profitable,Profitable,2015.0,10.0,11.0,7.0

In [56]:
# (Create days it took from order to shipping column) : by time difference in days between 'Ship Date' and 'Order Date' column
df["shipped days"] = (df["Ship Date"] - df["Order Date"]).dt.days
df.head()

,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,State,...,Discount,Profit,Profit Per Item,Original Price,order status_#,order status_2,Year,Month,Day,shipped days
0,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,0.00,41.9136,20.9568,261.96,Profitable,Profitable,2016.0,11.0,8.0,3.0
1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,Kentucky,...,0.00,219.5820,73.1940,731.94,Profitable,Profitable,2016.0,11.0,8.0,3.0
2,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,California,...,0.00,6.8714,3.4357,14.62,Profitable,Profitable,2016.0,6.0,12.0,4.0
3,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,0.45,-383.0310,-76.6062,1741.05,Not Profitable,Not Profitable,2015.0,10.0,11.0,7.0
4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,Florida,...,0.20,2.5164,1.2582,27.96,Profitable,Profitable,2015.0,10.0,11.0,7.0

In [ ]:
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Profit Per Item',
       'Original Price', 'order status_1', 'order status_2', 'Year', 'Month',
       'Day'],
      dtype='object')

In [ ]:
# Rename the columns
df = df.rename(columns={"order status_1": "order status_#"})
df.columns

Index(['Order ID', 'Order Date', 'Ship Date', 'Ship Mode', 'Customer ID',
       'Customer Name', 'Segment', 'Country', 'City', 'State', 'Postal Code',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Discount', 'Profit', 'Profit Per Item',
       'Original Price', 'order status_#', 'order status_2', 'Year', 'Month',
       'Day'],
      dtype='object')

## 3.5 Questions

In [ ]:
# 1. What are the peak sales months of the year?

# 2. Which day of the week does the business record the highest sales?

# 3. Has the average delivery time (from order date to ship date) improved over the years?

# 4. What is the yearly trend of profits?

# 5. What is the monthly average discount given over the years?

# 6. Which products have the highest sales volume?

# 7. Which states have the highest average discounts?

# 8. What is the total sales per category?

# 9. Which customer segment has the highest profit?

# 10. How do sales vary across different shipping modes?